numpy
pandas
matplotlib
seaborn
scipy
tqdm
jieba
wordcloud
scikit-learn
torch
transformers
networkx
python-louvain
statsmodels
requests
contextily
geopandas
gensim
bertopic
sentence-transformers
pyLDAvis 